.data{
	color: blue;
}
.border_prop{
	text-align: center;

	height: 400px;
	width: 33.33%;
	float: left;
	background-color: red;
	border-width: 10px;
	border-style: solid;
	border-color: blue;
	border-top-width: 20px;
	border-top-style: solid;
	border-top-color: black;
	border-right-width: 20px;
	border-right-style: solid;
	border-right-color: yellow;
	border-bottom-width: 20px;
	border-bottom-style: solid;
	border-bottom-color: blue;
	border-left-width: 20px;
	border-left-style: solid;
	border-left-color: green;


	/*mix*/
	border: 20px solid orange;
	border-top: 10px solid green;
	wborder-right: 10px solid yellow;
	border-bottom: 10px solid green;
	border-left: 10px solid yellow;


	/*inside*/

	box-sizing: border-box;
}

.outline_border
{
	margin:50px;
	outline: 20px solid yellow;
	border:20px;
	outline-offset: 10px;
    height: 400px;
	width: 400px;
	float: left;
	background-color:red;
}